name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy
        run: |
          cd /var/www/Scholarships-Plus
          git fetch origin
          git reset --hard origin/main
          bun install --frozen-lockfile
          bunx prisma generate
          bunx prisma migrate deploy
          bun run build
          bun run build:extension
          pm2 restart scholarships-plus
          pm2 list | grep scholarships-plus
